@use '@/shared/styles/media.scss' as *;
@use '@/shared/styles/variables.scss' as *;

.categories {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  column-gap: 20px;
  row-gap: 50px;
  margin: 16px auto 40px;
  padding: 0 8px;
  max-width: 1250px;

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;

  &Heading {
    text-align: center;
    margin-bottom: 48px;
  }

  &Name {
    font-size: 28px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
  }

  &Image {
    width: 100%;
    max-width: 400px;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 32px;
}
