.swiper-pagination {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0 !important;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 12px;
  background-color: #eee;
  border-radius: 14px;
  transition: 0.3s;
  transform-origin: center;
}

.swiper-pagination-bullet-active {
  transform: scaleX(1.6);
  border-radius: 5px;
  background: #ccc;
}
