.configure {
  &-image {
    position: relative;
    width: 300px;
    height: 300px;
    & img {
      width: 300px;
      height: 300px;
      box-sizing: border-box;
    }
    &-close {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
    &.loaded img {
      border: 2px solid rgb(0, 180, 0);
    }
  }
  .scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
