@import './styles/display.scss';
@import './styles/variables.scss';

// .app {
//   &__item {
//     display: flex;
//     justify-content: space-around;

//     & div {
//       width: 33%;
//       text-align: center;
//     }
//   }
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
