/node_modules
/dist
/build
/public/images/*.jpg
/public/images/*.png
/public/images/*.svg
/public/images/*.gif
/public/images/*.JPG
/public/images/*.PNG
/public/images/*.SVG
/public/images/*.GIF
/public/slider/*.jpg
/public/slider/*.png
/public/slider/*.svg
/public/slider/*.gif
/public/slider/*.JPG
/public/slider/*.PNG
/public/slider/*.SVG
/public/slider/*.GIF
/public/files/*.pdf
/public/files/*.PDF
/logs/*.log
./.env