/node_modules
/dist
/build
/public/images/*.jpg
/public/images/*.png
/public/images/*.svg
/public/images/*.gif
/public/slider/*.jpg
/public/slider/*.png
/public/slider/*.svg
/public/slider/*.gif
/public/files
/logs/*.log