.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-top: 8px;
  background: $primaryGrey;
  color: $white;
  font-size: 22px;

  & p {
    font-family: 'Times New Roman';
    font-weight: 300;
  }
}
