.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 16px 0;
  flex-wrap: wrap;
}

.item {
  padding: 10px;
}

.link {
  display: flex;
  text-decoration: none;
  color: $primaryGrey;
  display: flex;
  align-items: center;
  gap: 16px;

  &:hover {
    color: $colorSixth;
  }
}
