.container {
  padding: 40px 16px 32px 16px;

  @include laptop {
    padding-top: 72px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-top: 16px;

  @include laptop {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

.image {
  &Wrapper {
    position: relative;
    width: 100%;
  }

  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.subtitle {
  margin-top: 60px;
  margin-bottom: 40px;
}
