.wrapper {
  padding: 16px 12px;
  color: $dark;

  ol {
    padding-left: 24px;
  }
}

.heading {
  text-transform: uppercase;
}

.devider {
  width: 70px;
  height: 10px;
  background: $primaryGrey;
  margin-top: 16px;
  margin-bottom: 32px;
}
