@use '@/shared/styles/variables.scss' as *;

.recallButton {
  min-width: 78px;
  height: 44px;
  background: $colorThird;
  padding: 0 20px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  user-select: none;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  color: $dark;
}
