.breadcrumbs {
  width: 100%;
  background: $primaryGrey;
  color: $white;
  display: flex;
  justify-content: center;
  margin-top: -4px;

  &-wrapper {
    max-width: 1024px;
    width: 100%;
    padding: 6px 0 !important;
    display: flex;
    gap: 8px;
  }
  &__link {
    margin: 0 !important;
  }
  & a {
    text-decoration: none !important;
    color: $white !important;
    &:hover {
      text-decoration: underline !important;
    }
  }
}
