$white: #fff;
$black: #000;

$primaryGrey: #2c2c2c;

$light-grey: #eee;

$point-display-xs: 375px !default;
$point-display-sm: 768px !default;
$point-display-md: 1024px !default;
$point-display-lg: 1450px !default;
$point-display-xl: 1900px !default;
