@import url("https://fonts.google.com/specimen/Play");
@import url("https://fonts.googleapis.com/css2?family=Manrope");

@font-face {
  font-family: "Noto serif";
  font-style: normal;
  font-weight: 400;
  src: local("Noto serif"),
    url("/static/fonts/notoserif/NotoSerif-VariableFont_wdth,wght.ttf")
      format("tff"),
    url("/static/fonts/notoserif/NotoSerif-VariableFont_wdth,wght.ttf")
      format("tff");
}

$white: #fff;
$black: #000;

$primaryGrey: #2c2c2c;
$secondaryGrey: #333;
$colorPrimary: #ffd866;
$colorSecondary: #0069b1;
$colorThird: #ffeb3b;
$colorFourth: #f07204;
$colorFifth: #007646;
$colorSixth: #ff7700;

$colorGrey: #404040;

$light-grey: #eee;
$dark-grey: #999;

$serif: "Noto serif";
$roboto: "Roboto";
$play: "Play";
$manrope: "Manrope";

$point-display-xs: 375px !default;
$point-display-sm: 600px !default;
$point-display-slider: 768px !default;
$point-display-md: 960px !default;
$point-display-lg: 1264px !default;
$point-display-xl: 1904px !default;
