$white: #fff;
$black: #000;

$primaryGrey: #2c2c2c;
$colorPrimary: #ffe699;

$colorGrey: #404040;

$light-grey: #eee;
$dark-grey: #999;

$point-display-xs: 375px !default;
$point-display-sm: 768px !default;
$point-display-md: 1024px !default;
$point-display-lg: 1450px !default;
$point-display-xl: 1900px !default;
