.navbar {
  &__link {
    max-width: 350px;
    text-decoration: none;
    color: #333;
    background: #eee;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: 0.1s;

    &:hover {
      transform: scale(1.05);
    }
  }
}
