.product {
  display: flex;
  flex-direction: column;

  .imageWrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
  }

  .image {
    object-fit: cover;
  }

  &Body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
  }

  &Buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 16px;
  }

  &Button {
    width: 100%;
  }

  @include tablet {
    &.wide {
      flex-direction: row;

      & img {
        width: 350px;
      }
    }
  }
}
