.product {
  display: flex;
  flex-direction: column;

  &Body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
  }

  &Buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 16px;
  }

  &Button {
    width: 100%;
  }

  @include tablet {
    &.wide {
      flex-direction: row;

      & img {
        width: 350px;
      }
    }
  }
}
