@use '@/shared/styles/media.scss' as *;
@use '@/shared/styles/variables.scss' as *;

.block {
  display: none;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 8px;

  @include tablet {
    display: flex;
  }
}

.button {
  background: unset;
  color: #ccc;
  transition: 0.2s;
  cursor: pointer;
  opacity: 0.9;

  &:hover {
    color: #333;
  }

  &.active {
    color: #333;
  }
}
