@use './display.scss' as *;
@use './variables.scss' as *;

* {
  box-sizing: border-box;
  font-family: $roboto;
  margin: 0;
  border: 0;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
}

iframe {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
}

html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: $light-grey;
}

html::-webkit-scrollbar-thumb {
  background: $colorGrey;
  border-radius: 20px;
  border-top: 2px solid $white;
  border-bottom: 2px solid $white;
}
