$black: #000;
$white: #fff;

$point-display-xs: 375px !default;
$point-display-sm: 768px !default;
$point-display-md: 1024px !default;
$point-display-lg: 1450px !default;
$point-display-xl: 1900px !default;
