@use 'sass:list';

// mobile (базовый), tablet (600px+), desktop (960px+)
$headings: (
  xs: (
    14px,
    14px,
    14px,
  ),
  xsRelative: (
    12px,
    14px,
    16px,
  ),
  sm: (
    16px,
    16px,
    16px,
  ),
  smRelative: (
    14px,
    16px,
    18px,
  ),
  mdRelative: (
    16px,
    18px,
    20px,
  ),
  md: (
    18px,
    18px,
    18px,
  ),
  lg: (
    22px,
    22px,
    22px,
  ),
  lgRelative: (
    20px,
    22px,
    24px,
  ),
  xl: (
    24px,
    24px,
    24px,
  ),
  xlRelative: (
    20px,
    24px,
    26px,
  ),
  xxl: (
    32px,
    32px,
    32px,
  ),
  xxlRelative: (
    20px,
    24px,
    32px,
  ),
);

$fontWeights: (100, 200, 300, 400, 500, 600, 700, 800, 900);

@each $heading, $sizes in $headings {
  $base: list.nth($sizes, 1);
  $tablet: list.nth($sizes, 2);
  $desktop: list.nth($sizes, 3);

  .#{$heading} {
    font-size: $base;
  }

  @include tablet {
    .#{$heading} {
      font-size: $tablet;
    }
  }

  @include laptop {
    .#{$heading} {
      font-size: $desktop;
    }
  }
}

@each $size in $fontWeights {
  .fontWeight#{$size} {
    font-weight: $size;
  }
}

.textCenter {
  text-align: center;
}

.upperCase {
  text-transform: uppercase;
}
