@use '@/shared/styles/media.scss' as *;
@use '@/shared/styles/variables.scss' as *;

.contacts {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  margin-top: 40px;
  gap: 16px;
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 35px;
  color: $black;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.04), 0 1px 4px rgba(0, 0, 0, 0.14);

  &Title {
    color: $dark-grey;
    font-size: 13px;
    margin-top: 16px;
  }

  &Value {
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 16px;
  }
}

@include laptop {
  .contacts {
    justify-content: center;
    flex-direction: row;
  }

  .contact {
    max-width: 470px;
  }
}

.list {
  background: $light-grey;
  margin: 60px 12px 40px 12px;
  padding: 32px;
  border-radius: 16px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;

  &Item {
    display: flex;
    align-items: center;
    gap: 32px;

    a {
      color: $dark;
      text-decoration: none;
    }
  }

  &Title {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  hr {
    border: 1px solid $dark-grey;
  }

  @include laptop {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

.worktime {
  &Title {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  &Value {
    margin-top: 8px;
  }
}
