.wrapper {
  margin-top: 8px;
  padding: 16px;
}

.list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &Item {
    display: flex;
    flex-direction: column;

    @include laptop {
      flex-direction: row;
      align-items: center;
    }
  }
}

.content {
  padding: 16px;
}

.description {
  padding: 16px 0;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);

  @include laptop {
    padding-top: 32px;
  }
}

.buttons {
  display: flex;
  gap: 16px;
  margin-top: 64px;
}
