@import "@/shared/styles/variables.scss";
@import "@/shared/styles/media.scss";

.wrapper {
  padding: 16px 12px;
  max-width: $display-lg;
  margin: 0 auto;
  color: $dark;

  ol {
    padding-left: 24px;
  }
}

.heading {
  text-transform: uppercase;
}

.devider {
  width: 70px;
  height: 10px;
  background: $primaryGrey;
  margin-top: 16px;
  margin-bottom: 32px;
}
